/**
 * Using Catppuccin's Mocha color scheme
 * https://github.com/catppuccin/catppuccin
**/

:root[data-theme='dark-purple'],
:root.fallback-theme {
    --primary: rgb(203, 166, 247); /* #cba6f7 */

    --background: rgb(30, 30, 46); /* #1e1e2e */
    --background-light: rgb(49, 50, 68); /* #313244 */ /* Surface0 */
    --background-dark: rgb(24, 24, 37); /* #181825 */
    --background-darker: rgb(17, 17, 27); /* #11111b */

    --text-color: rgb(205, 214, 244);

    --surface-0: rgb(49, 50, 68);
    --surface-1: rgb(69, 71, 90);
    --surface-2: rgb(88, 91, 112);

    --overlay-0: rgb(108, 112, 134);
    --overlay-1: rgb(127, 132, 156);
    --overlay-2: rgb(147, 153, 178);

    --scroll-thumb-bg: rgb(203, 166, 247);
    --scroll-thumb-bg-hover: rgb(203, 166, 247);
}
