:root {
    --max-content-width: 1280px;
}

html,
body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--background);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--scroll-thumb-bg);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-thumb-bg-hover);
}

body {
    margin: 0;
    color: var(--text-color);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji';
    line-height: 1.5;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a,
a:active,
a:visited {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
}

.header {
    position: sticky;
    top: 0;
    transition: 0.3s top;
    height: 70px;
    z-index: 666;
    background-color: var(--background);
}
.header,
footer {
    max-width: calc(100vw - 120px);
    margin: 0 auto;
}

.thick-line {
    border: 0;
    border-radius: 4px;
    background: var(--background-light);
    height: 24px;
}

#scroll-observer {
    display: block;
    max-width: -webkit-fill-available;
    max-width: -moz-fill-available;
    max-width: fill-available;
    width: 0;
    height: 24px;
    border-radius: 4px;
    background: var(--primary);
}

.lambda {
    background-color: var(--primary);
    clip-path: url(#lambda);
    width: 70px;
    height: 70px;
    transform: scale(0.5);
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    margin: 4% 24px 0 0;
    top: 84px;
    width: 275px;
    max-height: calc(100vh - 128px);
}

nav .level-1 {
    font-weight: bold;
}

nav .level-2 {
    margin-left: 2ch;
}

nav .level-3 {
    margin-left: 4ch;
}

nav .level-4 {
    margin-left: 6ch;
}

nav .level-5 {
    margin-left: 8ch;
}

nav .level-6 {
    margin-left: 10ch;
}

@media only screen and (max-width: 2000px) {
    :root {
        --max-content-width: 60vw;
    }
}

@media only screen and (max-width: 1368px) {
    nav {
        width: 225px;
        margin-left: 24px;
    }
}

@media only screen and (max-width: 1148px) {
    :root {
        --max-content-width: 100vw;
    }

    main {
        flex-direction: column;
    }

    nav {
        display: none; /* @todo ZzZZzZZzZZzzZZzZzz */
        position: relative;
        width: var(--max-content-width);
        max-height: auto;
    }
}

@media only screen and (max-width: 968px) {
    :root {
        --max-content-width: calc(100vw - 48px);
    }

    main {
        min-height: calc(100vh - 48px);
        margin: 0 auto;
    }

    .header {
        max-width: calc(100vw - 24px);
    }

    article iframe,
    article img,
    article video {
        max-width: var(--max-content-width);
    }

    .footer-container div {
        margin: 0 24px;
    }

    .footer-container ul.edit-history li a {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-container ul.edit-history li a code + span {
        display: none;
    }

    .music-element {
        flex-direction: column !important;
    }

    .music-element .info {
        padding: 0 12px !important;
    }

    .music-element .info .title {
        font-size: 1em !important;
        -webkit-line-clamp: 3 !important;
    }

    .music-element .info .artist-name {
        font-size: 0.75em !important;
    }

    .music-element .links {
        display: none !important ;
    }

    .tooltip {
        position: unset !important;
    }

    .tooltip .tooltip-content,
    [data-tooltip]::after {
        bottom: unset !important;
        left: unset !important;
        margin-left: 0 !important;
        width: calc(var(--max-content-width) - 16px) !important;
    }
}

.article-container {
    max-width: var(--max-content-width);
    margin: 2% 0;
    padding: 24px;
}

article h1 {
    font-size: 2em;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 4px;
}

article hr {
    border-color: var(--primary);
}

article img {
    max-width: 100%;
}

article blockquote {
    border-left: 4px solid var(--primary);
    border-radius: 4px;
    margin: 20px 0 20px 20px;
    padding: 0.5em 20px 0.5em 25px;
}

article blockquote blockquote {
    margin: 10px 0 10px 10px;
    padding: 0.5em 0 0.5em 20px;
}

table {
    border: 1px solid var(--background-light);
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid var(--background-light);
    padding: 8px;
}

table thead th {
    font-weight: bold;
}

table tr:nth-child(even) {
    background: var(--background-dark);
}

.music-element {
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    margin: 12px 0;
    overflow: hidden;
}

.music-element.no-cover,
.music-element .cover-bg /* fallback */ {
    background-color: var(--background-light);
}

.music-element img {
    width: 100px;
}

.music-element .info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    text-shadow: 3px 0px 7px rgb(81 67 21 / 80%), -3px 0px 7px rgb(81 67 21 / 80%), 0px 4px 7px rgb(81 67 21 / 80%);
}

.music-element .cover-bg {
    background-size: cover;
    filter: blur(100px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.music-element .info .title {
    font-size: 1.5em;
    line-height: 1em;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.music-element .info .artist-name {
    font-size: 1em;
    line-height: 1.5em;
}

.music-element .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-shrink: 1;
}

.music-element .links a {
    display: flex;
    width: 100px;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    transition: transform 0.25s linear;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}

.music-element .links a:hover {
    transform: scale(1.1);
}

.music-element .links .youtube {
    color: #ff0000;
}

.music-element .links .spotify {
    color: #1db954;
}

.anchor {
    opacity: 0; /** @todo change to 'display' or 'visibility' **/
    margin-left: -3ch;
    padding: 0 0.65ch;
    position: absolute;
    line-height: 1;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
.anchor:hover,
.anchor:focus {
    opacity: 1;
}

.alt-img-container {
    position: relative;
}

.alt-i {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    user-select: none;
    border-radius: 4px;
    padding: 4px 8px;
    position: absolute !important;
    bottom: 8px;
    left: 4px;
}

.footer-container {
    max-width: var(--max-content-width);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 24px auto 48px auto;
}

.footer-container ul {
    flex-grow: 1;
    list-style: none;
    padding: 0;
}

.footer-container ul li {
    line-height: 1.5rem;
}

.footer-container ul.edit-history {
    max-height: 11.5em;
    padding-right: 4px;
    overflow: auto;
}

.footer-container ul.edit-history li:first-child {
    border-bottom: 1px solid var(--primary);
}

.footer-container ul.edit-history li:not(:first-child) {
    display: flex;
    justify-items: center;
    gap: 4px;
    line-height: 2rem;
}

.footer-container ul.edit-history li a {
    color: var(--text-color);
}

li.flex-gap {
    display: flex;
    gap: 10px;
}

.tooltip {
    position: relative;
    text-decoration: underline dashed var(--primary);
    text-underline-offset: 2px;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
}

.tooltip .tooltip-content,
[data-tooltip]::after {
    display: none;
    position: absolute;
    text-align: center;
    background-color: var(--background);
    color: var(--text-color);
    border: 1px solid var(--background-dark);
    font-weight: normal;
    content: attr(data-tooltip);
    border-radius: 4px;
    padding: 4px 8px;
    bottom: 100%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    z-index: 5;
    opacity: 1;
    animation: fade 0.1s linear;
}

.tooltip:hover .tooltip-content,
[data-tooltip]:hover::after {
    display: block;
}

.hash {
    letter-spacing: -4px;
    color: transparent;
    width: 5px;
}

p code,
li code,
pre {
    background: rgb(255, 255, 255, 0.1);
    border-radius: 6px;
}

p code,
li code {
    margin: 2px 0;
    padding: 2px 4px;
    line-height: 1.5em;
}

pre {
    position: relative;
    padding: 8px 24px;
    overflow-x: auto;
}

.copy-button {
    display: none;
    position: absolute;
    right: 24px;
}

pre:hover .copy-button {
    display: block;
}

.copy-button button {
    background-color: var(--surface-0);
    border: 1px solid var(--primary);
    border-radius: 4px;
    color: var(--primary);
    cursor: pointer;
}

.copy-button button:hover {
    background-color: var(--surface-1);
}

.copy-hash-btn {
    background-color: transparent;
    border: 0;
    margin: 0 4px;
    color: var(--primary);
    cursor: pointer;
}

.flex {
    display: flex;
}

.grow {
    flex-grow: 1;
}

.flex-d-row {
    flex-direction: row;
}

.flex-d-column {
    flex-direction: column;
}

/**
 * Custom HLJS theme
 */
.hljs-comment {
    color: #6a9955;
}

.hljs-punctuation,
.hljs-tag {
    color: #fff;
}

.hljs-tag .hljs-attr,
.hljs-tag .hljs-name {
    color: #fff;
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag {
    color: #569cd6;
    font-weight: 700;
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-template-tag,
.hljs-type {
    color: #6a9955;
}

.hljs-string,
.json .hljs-attr {
    color: #ce9178;
}

.hljs-section,
.hljs-title,
.hljs-built_in {
    color: #4ec9b0;
}

.hljs-link,
.hljs-operator,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
    color: #ab5656;
}

.hljs-literal {
    color: #695;
}

.hljs-addition,
.hljs-bullet,
.hljs-code {
    color: #397300;
}

.hljs-meta {
    color: #1f7199;
}

.hljs-meta {
    color: #38a;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}

/*****/
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-xl {
    line-height: 1.75rem;
    font-size: 1.25rem;
}

.text-sm {
    line-height: 1.25rem;
    font-size: 0.895rem;
}

.text-h3 {
    font-size: 1.17em;
    display: inline-block;
    margin: 1em 0;
}

/** Text position **/
.text-center {
    text-align: center;
}

/** Flexbox **/
.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.justify-center {
    justify-content: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.grow-1 {
    flex-grow: 1;
}
